.form-button button{
    background-color: red;
    color: white;
    border: transparent;
  }
  
  .form-button button:hover {
    background-color: white;
    color: red;
    border: .1rem solid red;
  }