
/* playlist item */


.item__playlist{
    padding: 2rem;
    width: 30rem;
    cursor: pointer;
    border: .1rem solid var(--darker);
    border-radius: 6px;
    transition: 360ms;
}

.item__playlist:hover{
    background-color: var(--dark-shade);
}
.playlistName{
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--font-heading);
}

.item__playlist .playlist__deleteIcon{
    margin-left: auto;
    font-size: 2rem;
    color: var(--darker);
    transition: 360ms;

}

.item__playlist .playlist__deleteIcon:hover{
    color: red;
}