
/* suggested videos. */

.container__suggestionVideos{
    width: 40rem;
    margin-left: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.container__suggestionVideo{
    cursor: pointer;
    height: 10rem;
    width: 100%;
}

.container__image__suggestionVideo{
    width: 16rem;
}


.container__image__suggestionVideo img{
    object-fit:scale-down;
    width: 16rem;
    height: 9rem;

}

.suggestionVideo__title{
    height: 5rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

.suggestionVideo__info div{
    margin-top: .2rem;
    font-size: 1.2rem;
    font-weight: bold;
}