@import "../../css/button.css";

.container-main {
  height: calc(100vh - 6rem);
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  border: 0.1rem solid var(--dark);
  border-radius: 1rem;
  width: 40rem;
  padding: 2rem;
  background-color: white;
}

.form-heading {
  display: flex;
  align-items: center;
  color: var(--night);
  height: 5rem;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
}

.form-label {
  display: inline-block;
  font-family: var(--font-heading);
  width: 100%;
  font-size: 1.6rem;
}

.form-input {
  height: 4rem;
  width: 100%;
  font-size: 2rem;
  border: 0.1rem solid var(--dark);
  padding: 0 1rem;
  transition: 260ms;
  outline: transparent;
}

.form-input:focus {
  outline: 0.1rem solid var(--primary);
}

.input-success {
  outline: 0.1rem solid var(--success);
}

.form-checkbox {
  height: 2rem;
  width: 2rem;
}

.form-utility {
  font-size: 1.3rem;
  color: var(--darker);
}

.forgot-pwrd {
  margin-left: auto;
  transition: 360ms;
}

.forgot-pwrd:hover {
  color: var(--primary);
}

.form-utility-2 a,
.form-end a {
  text-decoration: underline;
  transition: 360ms;
}

.form-link:hover {
  color: var(--primary);
}

.form-end {
  text-align: center;
}

.form-button button:hover {
  background-color: red;
  color: white;
  border: transparent;
}

/* --------------------------------media queries */

@media screen and (max-width: 450px) {
  .form-wrapper {
    width: 80%;
  }

  .container-main {
    height: calc(100vh - 6rem);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
