/* videoArea */

.container__main_videoArea{
    width: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.container__overlay{
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.34);
    z-index: 9;
}

.container__overlay h1{
z-index: 10;
}

.container__addToPlaylist{
    width: 30rem;
    height: 40rem;
    background-color: white;
}

.addToPlaylist__heading{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    border-bottom: .1rem solid var(--darker);
}

.playlistArea{
    width: 100%;
    height: 25rem;
    padding: 2rem;
    overflow-y: scroll;
    font-size: 2rem;
    border-bottom: .1rem solid var(--darker);

    /* background-color: var(--darker); */
}


.addToPlaylist__button button{
    margin-left: auto;
    
}
