
.container__videoList__videos{
    width: 100%;
    overflow-x: scroll;
}

.wrapper__videoList{
    width: 90%;
}

.container__videoList_heading{
    border-bottom: .1rem solid var(--darker);
    padding: 1rem 0;
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--font-heading);
}

.container__videoList_heading span{
    margin-left: auto;
    font-size: 1.5rem;
}

.button__delete__history{
    font-size: 2rem;
}

