/* Video ELement */


.videoFrame
{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
    
.videoFrame iframe
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
    

.container__video
{
    width:65%;
}

.videoFrame__title
{
    font-size: 2rem;
    font-weight: bold;
}

.videoFrame__info
{
    border-bottom: .1rem solid var(--dark);
}

.videoFrame__info__inner1
{
    font-size: 2rem;
    font-weight: bold;
}


.videoFrame__info__inner2
{
    margin-left: auto;
}

.videoFrame__info__inner2 > button
{
    color: black;
    background-color: white;
    padding: 1rem 1rem;
    cursor: pointer;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: .5rem;
    transition: 360ms;
}

.svg-inline--fa{
    font-size: 2.4rem;
    margin-right: .5rem;
}

.videoFrame__info__inner2 button:hover
{
    background-color: var(--dark);
}

.videoLiked
{
    color: blue;
}

.videoDisliked
{
    color: red;
}

.videoFrame_desc
{
    font-size: 2rem;
    border-bottom: .1rem solid var(--dark);
}
