.card__video__listItem{
    width: 100%;
    height: 9rem;
    transition: 200ms;
    cursor: pointer;
}

.card__video__listItem:hover{
    background-color: var(--dark-shade);
}

.image__wrapper__videoListItem{
    width: 16rem;
    height: 9rem;
}

 .image__videoListItem{
     object-fit: scale-down;
     height: 9rem;
    width: 100%;
}

.video__listItem_title{
    font-size: 2rem;
    font-weight: bold;
}

.container__listItem__button{
    margin-left: auto;
}

.container__listItem__button button{
    margin: 0 1rem;
    cursor: pointer;
    background-color: transparent;
    font-size: 2.5rem;
    border: none;
    color: var(--darker);
    transition: 360ms;
}

.container__listItem__button button:hover{
    color: red;
}
